{% extends 'base.html'  %}
{% block title %}
{{form.name.data}}
{% endblock%}
{% block content %}
<div class="container">
    <h1 class="display-1 text-center">{{pet.name}}</h1>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <img src="{{pet.photo_url}}" alt="{{pet.name}} photo" class="img-thumbnail">
            {% if pet.age %}
            <span>Age: {{pet.age}}</span>
            {% endif %}
        </div>
    </div>

    {% for msg in get_flashed_messages() %}
        <small class="text-info">{{msg}}</small>
    {% endfor %}

    {% for field in form if field.widget.input_type != 'hidden'%}
        {% if field.errors %}
            <ul>
                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{err}}
                </small>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

    <div>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{form.name.label}}
            {{form.name(class_="form-control")}}

            {{form.species.label}}
            {{form.species(class_="form-control")}}

            {{form.photo_url.label}}
            {{form.photo_url(class_="form-control")}}

            {{form.age.label}}
            {{form.age(class_="form-control")}}

            {{form.notes.label}}
            {{form.notes(class_="form-control")}}
            
            {{form.available.label}}
            {{form.available(class_="")}}
            <div>
                <button class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
    
</div>

{% endblock %}