{% extends 'base.html'  %}
{% block title %}
Pets
{% endblock%}
{% block content %}
<div class="container">
    <h1>All Pets</h1>
    <ul>
        <div class="row justify-content-center">
        {% for pet in pets %}
        
            <div class="col-md-3">
                <img src="{{pet.photo_url}}" alt="{{pet.name}} photo" class="img-thumbnail">
                <li><a href="/{{pet.id}}">{{pet.name}}</a></li>
            </div>
        {% if pet.availabe%}
        <span>This Pet is Available</span>
        {% endif %}
        {% endfor %}
        </div>
    </ul>
    <div>
        <form action="/add">
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
{% endblock %}